.container-card {
    display: grid;
    width: 450px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container-card:hover {
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.container-card img {
    width: 100%;
    height: 300px;
}

.card-content {
    display: grid;
    text-align: center;
    margin: 0 auto;
    padding: 1rem 0;
}

.card-content span {
    font-weight: 600;
}

.card-temperaments {
    display: flex;
}

@media (max-width: 860px) {
    .container-card {
        width: 300px;
    }

    .container-card img {
        width: 100%;
        height: auto;
    }

}