.container-details {
    display: grid;
    grid-template-columns: repeat(auto-fit,
            minmax(500px, 1fr));
    gap: 1rem;
    place-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.container-details img {
    width: 500px;
}

.detail-list {
    display: grid;
    place-content: center;
    gap: 1rem;
}

.detail-list li {
    display: flex;
}

.detail-list span {
    font-size: 1.1rem;
    color: black;
    font-weight: 600;
}

.btn-3 {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 1rem;
    cursor: pointer;
}

.btn-3:hover {
    background-color: rgb(182, 6, 6);
}

@media (max-width: 860px) {
    .container-details {
        grid-template-columns: none;
        gap: 3rem;
    }

    .container-details img {
        width: 100%;
    }

}