.container-details {
    display: flex;
    gap: 1rem;
    place-content: center;
    align-items: center;
    margin: 3rem;
}

.container-details img {
    max-width: 50%;
}

.detail-list {
    display: grid;
    gap: 1rem;
}

.detail-list li {
    display: flex;
}

.detail-list span {
    font-size: 1.1rem;
    color: black;
    font-weight: 600;
}

.btn-3 {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 1rem;
    cursor: pointer;
}

.btn-3:hover {
    background-color: rgb(182, 6, 6);
}