.background-image {
    background-image: url('/public/front-dog-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
}

.front-cover {
    display: grid;
    place-content: center;
    align-items: center;
    width: 50%;
    padding-top: 10rem;
    padding-left: 4.5rem;
}

h1 {
    color: white;
    font-size: 3rem;
}


@media (max-width:860px) {
    .background-image {
        background-image: url('/public/vertical-dog.jpg');
        background-position: right;
        background-size: cover;
        min-height: 90vh;
    }

    .front-cover {
        place-content: start space-evenly;
        width: 100%;
        padding: 1rem 0;
    }

    h1 {
        display: none;
    }
}

@media (max-width:750px) {
    .front-cover {
        padding: 3rem 0;
    }
}