.background-image {
    background-image: url('/public/front-page-dog.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
}

.front-cover {
    display: grid;
    gap: 2rem;
    place-content: center;
    align-items: center;
    width: 60%;
    padding-top: 10rem;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: black;
    font-size: 3rem;
}

.btn-home {
    padding: 1rem 0;
    width: 200px;
    cursor: pointer;
    color: white;
    background-color: #2323d1;
    border: none;
    border-radius: 5px;
    transition: all .2s linear;
}

.btn-home:hover {
    background-color: #1616a5;
}


@media (max-width:860px) {
    .background-image {
        background-image: url('/public/vertical-dog.jpg');
        background-position: right;
        background-size: cover;
        min-height: 90vh;
    }

    .front-cover {
        place-content: start space-evenly;
        width: 100%;
        padding: 1rem 0;
    }

    h1 {
        display: none;
    }
}

@media (max-width:750px) {
    .front-cover {
        padding: 3rem 0;
    }
}