.create-breed-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.dog-img {
    height: 85vh;
    border-radius: 7px 0 0 7px;
}

.create-breed-form {
    display: grid;
    height: 85vh;
    width: 50%;
    padding: 1rem;
    gap: 1rem;
    border-radius: 0 7px 7px 0;
    background-color: white;

}

.create-breed-form h3 {
    font-size: 2rem;
    color: rgb(59, 59, 59);
    margin: 0 auto;
}

.create-breed-form input {
    padding: 5px 1rem;
    border: 1px solid #cecece;
    border-radius: 16px;
}

.flex {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

.temperaments-container {
    display: flex;
    margin: 0 auto;
    gap: 1rem;
    width: 100%;
    align-items: center;
}

.temperaments-container input {
    width: 80%;
}

.temperaments-container select {
    border: 1px solid #cecece;
    border-radius: 16px;
    padding: 10px 0;
}

.temperaments-values {
    font-size: 14px;
}

.danger {
    display: grid;
    place-content: center;
}

.btn-2 {
    background-color: #f8ad21;
    color: white;
    border: none;
    width: 50%;
    padding: 7px 0;
    margin: 0 auto;
    cursor: pointer;
    transition: all .2s linear;
    border-radius: 6px;
}

.btn-2:hover {
    background-color: #e29506;
}

.btn-2-error {
    background-color: red;
    color: white;
    border: none;
    width: 50%;
    padding: 7px 0;
    margin: 0 auto;
    cursor: pointer;
    transition: all .2s linear;
    border-radius: 6px;
}

p.danger {
    color: red;
    font-size: 12px;
}

input.danger {
    border: 2px solid red;
}

@media (max-width:980px) {
    .create-breed-form {
        width: 90%;
        /* background-image: url('./images/dogForm.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; */
    }

    .dog-img {
        display: none;
    }
}

@media (max-width:530px) {
    .flex input {
        width: 40%;
    }
}